.Normal_text {font-family:'Lato';font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;color:#1B1B1B;background-color:Transparent;letter-spacing:0em;}
.Heading_2 {font-family:'Lato';font-weight:normal;font-style:normal;font-size:24px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.List_Paragraph {}
